TestResults.txt
./NEWOUTPUT/INITIALCOMMANDS/ValidCommandLoggedOut.txt
./NEWOUTPUT/INITIALCOMMANDS/InvalidPreLoginCommandType.txt
./NEWOUTPUT/LOGIN/InvalidToValidLoginStandard.txt
./NEWOUTPUT/LOGIN/InvalidLoginStandard.txt
./NEWOUTPUT/LOGIN/ValidLoginAdmin.txt
./NEWOUTPUT/LOGIN/ValidLoginStandard.txt
./NEWOUTPUT/LOGIN/InvalidToValidLoginAccountType.txt
./NEWOUTPUT/LOGIN/NewLoginSuccessful.txt
./NEWOUTPUT/LOGIN/InvalidLoginAccountType.txt
./NEWOUTPUT/LOGIN/DoubleLogin.txt
./NEWOUTPUT/WITHDRAW/WithdrawDisabled.txt
./NEWOUTPUT/WITHDRAW/InvalidAdminWithdrawalAccount.txt
./NEWOUTPUT/WITHDRAW/StandardWithdrawalLimitSession.txt
./NEWOUTPUT/WITHDRAW/InvalidStandardWithdrawalAmount.txt
./NEWOUTPUT/WITHDRAW/StandardWithdrawlDiffAccounts.txt
./NEWOUTPUT/WITHDRAW/InvalidAdminWithdrawalAmounts.txt
./NEWOUTPUT/WITHDRAW/InvalidStandardWithdrawlAccount.txt
./NEWOUTPUT/WITHDRAW/StandardWithdrawalLimit.txt
./NEWOUTPUT/WITHDRAW/ValidStandardWithdrawal.txt
./NEWOUTPUT/WITHDRAW/ValidAdminWithdrawal.txt
./NEWOUTPUT/DEPOSIT/DepositDisabled.txt
./NEWOUTPUT/DEPOSIT/DepositInvalidAccountNumberAdmin.txt
./NEWOUTPUT/DEPOSIT/DepositInvalidAccountNumber.txt
./NEWOUTPUT/DEPOSIT/SuccessfulDeposit.txt
./NEWOUTPUT/DEPOSIT/ValidSessionFunds.txt
./NEWOUTPUT/DEPOSIT/DepositNonMatchingAccountNumberAdmin.txt
./NEWOUTPUT/DEPOSIT/DepositAdminSuccessful.txt
./NEWOUTPUT/DEPOSIT/DepositDiffAccounts.txt
./NEWOUTPUT/DEPOSIT/DepositNonMatchingAccountNumber.txt
./NEWOUTPUT/DEPOSIT/InvalidSessionFunds.txt
./NEWOUTPUT/DEPOSIT/DepositUpperLimit.txt
./NEWOUTPUT/PAYBILL/PayBillStandardValid.txt
./NEWOUTPUT/PAYBILL/PayBillStandardInvalidAccount.txt
./NEWOUTPUT/PAYBILL/PayBillAdminValid.txt
./NEWOUTPUT/PAYBILL/PayBillAdminInvalidFunds.txt
./NEWOUTPUT/PAYBILL/PayBillDisabled.txt
./NEWOUTPUT/PAYBILL/PayBillAdminInvalidAccount.txt
./NEWOUTPUT/PAYBILL/PayBillAdminInvalidCompany.txt
./NEWOUTPUT/PAYBILL/PayBillStandardLimit.txt
./NEWOUTPUT/PAYBILL/PayBillStandardInvalidFunds.txt
./NEWOUTPUT/PAYBILL/PayBillStandardInvalidCompany.txt
./NEWOUTPUT/TRANSFER/TransferUpperLimit.txt
./NEWOUTPUT/TRANSFER/TransferAdminInvalidBalance.txt
./NEWOUTPUT/TRANSFER/TransferAdminValid.txt
./NEWOUTPUT/TRANSFER/TransferDisabled.txt
./NEWOUTPUT/TRANSFER/TransferAdminNonMatching.txt
./NEWOUTPUT/TRANSFER/TransferStandardValid.txt
./NEWOUTPUT/TRANSFER/TransferStandardInvalidAccount.txt
./NEWOUTPUT/TRANSFER/TransferStandardLimit.txt
./NEWOUTPUT/CHANGEPLAN/DisabledChangePlan.txt
./NEWOUTPUT/CHANGEPLAN/InvalidAdminChangePlanAccount.txt
./NEWOUTPUT/CHANGEPLAN/ValidChangePlanStudentToNon.txt
./NEWOUTPUT/CHANGEPLAN/ValidChangePlanNonToStudent.txt
./NEWOUTPUT/CHANGEPLAN/InvalidStandardChangePlan.txt
./NEWOUTPUT/CHANGEPLAN/InvalidAdminChangePlanHolder.txt
./NEWOUTPUT/ENABLE/EnableAccountInvalidNumber.txt
./NEWOUTPUT/ENABLE/EnableAccountSuccessful.txt
./NEWOUTPUT/ENABLE/EnableAccountInvalidName.txt
./NEWOUTPUT/ENABLE/EnableAccountAlreadyEnabled.txt
./NEWOUTPUT/ENABLE/EnableAccountAsStandard.txt
./NEWOUTPUT/DISABLE/DisableAccountAlreadyDisabled.txt
./NEWOUTPUT/DISABLE/DisableAccountSuccessful.txt
./NEWOUTPUT/DISABLE/DisableAccountAsStandard.txt
./NEWOUTPUT/DISABLE/DisableAccountInvalidName.txt
./NEWOUTPUT/DISABLE/DisableAccountInvalidNumber.txt
./NEWOUTPUT/CREATE/InvalidAdminCreateAmount.txt
./NEWOUTPUT/CREATE/ValidAdminCreateAccountNumber.txt
./NEWOUTPUT/CREATE/ValidAdminCreateHolder.txt
./NEWOUTPUT/CREATE/NewCreateHolderTest.txt
./NEWOUTPUT/CREATE/InvalidAdminCreateHolder.txt
./NEWOUTPUT/CREATE/InvalidStandardCreate.txt
./NEWOUTPUT/DELETE/InvalidStandardDelete.txt
./NEWOUTPUT/DELETE/ValidAdminDelete.txt
./NEWOUTPUT/DELETE/InvalidAdminDelete.txt
./TRANSACTIONEXPECTED/INITIALCOMMANDS/ValidCommandLoggedOut.txt
./TRANSACTIONEXPECTED/INITIALCOMMANDS/InvalidPreLoginCommandType.txt
./TRANSACTIONEXPECTED/LOGIN/InvalidToValidLoginStandard.txt
./TRANSACTIONEXPECTED/LOGIN/InvalidLoginStandard.txt
./TRANSACTIONEXPECTED/LOGIN/ValidLoginAdmin.txt
./TRANSACTIONEXPECTED/LOGIN/ValidLoginStandard.txt
./TRANSACTIONEXPECTED/LOGIN/InvalidToValidLoginAccountType.txt
./TRANSACTIONEXPECTED/LOGIN/NewLoginSuccessful.txt
./TRANSACTIONEXPECTED/LOGIN/InvalidLoginAccountType.txt
./TRANSACTIONEXPECTED/LOGIN/DoubleLogin.txt
./TRANSACTIONEXPECTED/WITHDRAW/WithdrawDisabled.txt
./TRANSACTIONEXPECTED/WITHDRAW/InvalidAdminWithdrawalAccount.txt
./TRANSACTIONEXPECTED/WITHDRAW/StandardWithdrawalLimitSession.txt
./TRANSACTIONEXPECTED/WITHDRAW/InvalidStandardWithdrawalAmount.txt
./TRANSACTIONEXPECTED/WITHDRAW/StandardWithdrawlDiffAccounts.txt
./TRANSACTIONEXPECTED/WITHDRAW/InvalidAdminWithdrawalAmounts.txt
./TRANSACTIONEXPECTED/WITHDRAW/InvalidStandardWithdrawlAccount.txt
./TRANSACTIONEXPECTED/WITHDRAW/StandardWithdrawalLimit.txt
./TRANSACTIONEXPECTED/WITHDRAW/ValidStandardWithdrawal.txt
./TRANSACTIONEXPECTED/WITHDRAW/ValidAdminWithdrawal.txt
./TRANSACTIONEXPECTED/DEPOSIT/DepositDisabled.txt
./TRANSACTIONEXPECTED/DEPOSIT/DepositInvalidAccountNumberAdmin.txt
./TRANSACTIONEXPECTED/DEPOSIT/DepositInvalidAccountNumber.txt
./TRANSACTIONEXPECTED/DEPOSIT/SuccessfulDeposit.txt
./TRANSACTIONEXPECTED/DEPOSIT/ValidSessionFunds.txt
./TRANSACTIONEXPECTED/DEPOSIT/DepositNonMatchingAccountNumberAdmin.txt
./TRANSACTIONEXPECTED/DEPOSIT/DepositAdminSuccessful.txt
./TRANSACTIONEXPECTED/DEPOSIT/DepositDiffAccounts.txt
./TRANSACTIONEXPECTED/DEPOSIT/DepositNonMatchingAccountNumber.txt
./TRANSACTIONEXPECTED/DEPOSIT/InvalidSessionFunds.txt
./TRANSACTIONEXPECTED/DEPOSIT/DepositUpperLimit.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillStandardValid.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillStandardInvalidAccount.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillAdminValid.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillAdminInvalidFunds.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillDisabled.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillAdminInvalidAccount.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillAdminInvalidCompany.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillStandardLimit.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillStandardInvalidFunds.txt
./TRANSACTIONEXPECTED/PAYBILL/PayBillStandardInvalidCompany.txt
./TRANSACTIONEXPECTED/TRANSFER/TransferUpperLimit.txt
./TRANSACTIONEXPECTED/TRANSFER/TransferAdminInvalidBalance.txt
./TRANSACTIONEXPECTED/TRANSFER/TransferAdminValid.txt
./TRANSACTIONEXPECTED/TRANSFER/TransferDisabled.txt
./TRANSACTIONEXPECTED/TRANSFER/TransferAdminNonMatching.txt
./TRANSACTIONEXPECTED/TRANSFER/TransferStandardValid.txt
./TRANSACTIONEXPECTED/TRANSFER/TransferStandardInvalidAccount.txt
./TRANSACTIONEXPECTED/TRANSFER/TransferStandardLimit.txt
./TRANSACTIONEXPECTED/CHANGEPLAN/DisabledChangePlan.txt
./TRANSACTIONEXPECTED/CHANGEPLAN/InvalidAdminChangePlanAccount.txt
./TRANSACTIONEXPECTED/CHANGEPLAN/ValidChangePlanStudentToNon.txt
./TRANSACTIONEXPECTED/CHANGEPLAN/ValidChangePlanNonToStudent.txt
./TRANSACTIONEXPECTED/CHANGEPLAN/InvalidStandardChangePlan.txt
./TRANSACTIONEXPECTED/CHANGEPLAN/InvalidAdminChangePlanHolder.txt
./TRANSACTIONEXPECTED/ENABLE/EnableAccountInvalidNumber.txt
./TRANSACTIONEXPECTED/ENABLE/EnableAccountSuccessful.txt
./TRANSACTIONEXPECTED/ENABLE/EnableAccountInvalidName.txt
./TRANSACTIONEXPECTED/ENABLE/EnableAccountAlreadyEnabled.txt
./TRANSACTIONEXPECTED/ENABLE/EnableAccountAsStandard.txt
./TRANSACTIONEXPECTED/DISABLE/DisableAccountAlreadyDisabled.txt
./TRANSACTIONEXPECTED/DISABLE/DisableAccountSuccessful.txt
./TRANSACTIONEXPECTED/DISABLE/DisableAccountAsStandard.txt
./TRANSACTIONEXPECTED/DISABLE/DisableAccountInvalidName.txt
./TRANSACTIONEXPECTED/DISABLE/DisableAccountInvalidNumber.txt
./TRANSACTIONEXPECTED/CREATE/InvalidAdminCreateAmount.txt
./TRANSACTIONEXPECTED/CREATE/ValidAdminCreateAccountNumber.txt
./TRANSACTIONEXPECTED/CREATE/ValidAdminCreateHolder.txt
./TRANSACTIONEXPECTED/CREATE/NewCreateHolderTest.txt
./TRANSACTIONEXPECTED/CREATE/InvalidAdminCreateHolder.txt
./TRANSACTIONEXPECTED/CREATE/InvalidStandardCreate.txt
./TRANSACTIONEXPECTED/DELETE/InvalidStandardDelete.txt
./TRANSACTIONEXPECTED/DELETE/ValidAdminDelete.txt
./TRANSACTIONEXPECTED/DELETE/InvalidAdminDelete.txt
